/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#name h2{
  font-family: "Open Sans", sans-serif;
}

#title-name{
  font-family:  "Playfair Display", serif;;
}

#profile-picture {
  width: 250px;
}



 #landing, #tools{
  background:linear-gradient(0deg ,#F5F0EC, #E6C0BD);
  
}

#contact, #projects {
  background:linear-gradient(0deg, #E6C0BD,#F5F0EC);
}

.navbar, .footer{
  background-color: #E6C0BD;
 
}

.landing-font, #projects h2, #contact h2, #tools h2, label {
  color: #5C5A63;
}

#projects .card {
  background-color: #E8E3DE;
}

/* #landing{
  opacity: 0;
  animation-name: show;
  animation-duration: 3s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 3s;
}



@keyframes show {
  0% {opacity:0}
  100%{opacity:1}
} */

#content{
  position: relative;
  animation-name: show;
  animation-duration: 3s;
  animation-fill-mode: forwards;

  
}

@keyframes show {
  0% {right:-1000px;}
  100%{right:0;}
}

#profile-picture{
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}



@keyframes content {
  0% {top:-1000px;}
  100%{top:0;}
}

